:local(.dark):global(.ui.selection.dropdown),
:local(.dark):global(.ui.selection.dropdown .menu) {
  background: #2c2d31;
  color: #b9bbbe;
}

:local(.dark):global(.ui.selection.active.dropdown),
:local(.dark):global(.ui.selection.dropdown:focus) {
  border-color: #111116;
}

:local(.dark):global(.ui.selection.visible.dropdown > .text:not(.default)),
:local(.dark):global(.ui.selection.dropdown .menu > .item) {
  border-color: #111116;
  color: #b9bbbe;
}

:local(.dark):global(.ui.selection.active.dropdown .menu) {
  border-color: #111116;
}
