$link-color: #3D5170;
$background-color: #f5f6f8;

:local(body) {
  background-color: $background-color;
}

:local(.dashboard){
  display: flex;
  // height: 200vh;
}

:local(.container) { // usable dash area
  display: block;
  padding: 2rem;
  height: 100%; 
  background-color: #161719;
  overflow: auto;
}

:local(.dashView) {
  display: flex;
  position: relative;
}

:local(.box) {
  display: inline-block;
  border: 1px solid black;
  // text-align: center;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 5px;
  position: relative;
  margin: 0px;
  z-index: 1;
}

//:local(.card) {
//  backgroundColor: '#212124';
//  boxShadow: '0 1px 3px 0 #141414, 0 0 0 1px #141414';
//}

