$link-color: #3D5170;
$background-color: #f5f6f8;

:local(body) {
  background-color: $background-color;
}

:local(.dashboard){
  display: flex;
  // height: 100vh;
}

:local(.container) { // usable dash area
  display: block;
  padding: 1rem;
  // height: 50%; 
  background-color: $background-color;
  overflow: auto;
}

:local(.dashView) {
  display: flex;
  position: relative;
}

:local(.box) {
  display: inline-block;
  border: 1px solid black;
  // text-align: center;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

