:local(.sidebar) {
    height: 100vh;
    max-width: 23em;
    min-width: 12.5em;
    width: 20vw;
    color: #b9bbbe;
    background: #2c2d31;
    overflow-y: auto;
    user-select: none;
}

:local(.heading) {
    position: sticky;
    top: 0;
    padding: 0.5rem 1.2rem;
    color: hsla(216, 4%, 42%, 1);
    background: #1A1B1D;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
}

:local(.item) {
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

:local(.item:hover) {
    background: #494b4f;
}

:local(.item > .property) {
    font-size: 1.1em;
}

:local(.item > .city) {
    font-size: 0.8em;
    color: #959799;
}

:local(.svgDiv) {
    position: absolute;
    top: 12px;
    right: -23px;
    width: 23px;
    height: 48px;
    background: #53555a;
    z-index: 2;
    cursor: pointer;
}
